apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: pi-hole
  name: pi-hole-server
spec:
  replicas: 1
  serviceName: pi-hole
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
        - name: pi-hole-server
          image: pihole/pihole:latest
          env:
            - name: TZ
              value: "Europe/Berlin"
            - name: DNSMASQ_USER
              value: root
            - name: PIHOLE_UID
              value: "0"
            - name: REV_SERVER
              value: "true"
            - name: REV_SERVER_DOMAIN
              value: "fritz.box"
            - name: REV_SERVER_TARGET
              value: "192.168.178.1"
            - name: REV_SERVER_CIDR
              value: "192.168.178.0/24"

            - name: WEBPASSWORD
              valueFrom:
                secretKeyRef:
                  name: pi-hole-admin
                  key: password
          ports:
            - name: dns-tcp
              containerPort: 53
              protocol: TCP
            - name: dns-udp
              containerPort: 53
              protocol: UDP
            - name: dns-dhcp
              containerPort: 67
              protocol: UDP
            - name: http
              containerPort: 80
              protocol: TCP
            - containerPort: 443
              name: https
              protocol: TCP

          livenessProbe:
            httpGet:
              path: /admin
              port: 80
              scheme: HTTP
            failureThreshold: 5
            periodSeconds: 10
            timeoutSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: "2"
              memory: 512Mi
          volumeMounts:
            - mountPath: /etc/pihole
              name: pi-hole-data
            - mountPath: /etc/dnsmasq.d
              name: pi-hole-dnsmasq
  volumeClaimTemplates:
    - metadata:
        name: pi-hole-data
      spec:
        selector:
          matchLabels:
            volume: pi-hole-data
        storageClassName: manual
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 1Gi
    - metadata:
        name: pi-hole-dnsmasq
      spec:
        selector:
          matchLabels:
            volume: pi-hole-dnsmasq
        storageClassName: manual
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 1Gi